
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: 'UnifrakturCook', cursive;
    background:
        linear-gradient(145deg, rgba(12,15,27,0.85), rgba(26,30,58,0.85)), 
        url('../assets/images/mesa_rpg.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #101222;
}
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.logo { font-size: 2rem; font-weight: bold; color: #8c6dfd; }
nav a {
    color: #ccc;
    margin-left: 1.5rem;
    text-decoration: none;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
}
.hero-content {
    flex: 1 1 45%;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero-content p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #cdd4f2;
}
.cta-btn {
    background: #38b6ff;
    color: #000;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}
.hero-image {
    flex: 1 1 45%;
    text-align: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}
.rpg-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 3rem 2rem;
}
.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
}
.card img {
    width: 300px;
    margin-bottom: 1rem;
}

.card-img-grande {
    width: 100%;   /* ajuste conforme desejar */
    height: auto;
}

.rpg-card-boss {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}

.card-boss {
    max-width: 900px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
}
.card-boss img {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.rpg-quote {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.6rem;
    color: #f0e6d2;
    margin: 3rem auto;
    max-width: 600px;
    border-left: 4px solid #8c6dfd;
    padding-left: 1rem;
}

p{
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    background-color: #101222;
    color: #999;
}
